body {
  font-family: 'DejaVu Sans Mono', 'Open Sans', Arial;
  margin: 2em auto;
  max-width: 600px;
  padding: 1em;
  line-height: 1.5;
  text-align: justify;
}

a.anchor {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  margin-left: -1em;
}
